
/*GROSSES SECTIONS*/
html{
  font-family: 'Kaushan Script', cursive;
}

*{
  margin:0;
  padding: 0;
  border: 0;
  box-sizing:border-box;
}

body{
  min-height: 666px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
thead{
  text-align: center;
}

section,
aside,
footer {
  margin: 0 0 24px 0;
}

section {
  float: left;
  width: 65%;
  /*margin-left:30px;*/
}

aside {
  float: right;
  width: 35%;
  /*margin-right:20px;*/
}

#content{
  position: relative;
}

/*HEADER*/
.menuheader {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
  background-size: cover;
  width: 100%;
  height:150px;
  margin: 0;
  display: block;
  z-index:6;
  position:relative;
  border-bottom: inset;
  overflow: hidden;
}

.logo img{
  width:500px;
}

.logo {
  top:-130px;
left:3rem;
 position: absolute;
 z-index: 1;
}

.menushort{
  top: 0px;
  position:fixed;
  z-index:5;
  color:red;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
  background-size : cover;
  display: block;
  width:100%;
  height:70px;
  visibility:hidden;
}

.logo2 img{
  width:160px;
}

.logo2 {
  top:-35px;
left:6rem;
 position: absolute;
 z-index: 1;
}

.menushort nav{
  position: absolute;
  right:4rem;;
  top:10px;
  display: inline-block;
  z-index: 3;
}

.menushort li{
  display: inline-block;
}

.menushort input{
  margin-bottom:10px;
  padding:10px;
  margin-right:10px;
  border-radius: 10px;
  outline:none;
  width:200px;
}


.menushort li a{
  font-family: Verdana;
  color: #ffffff;
  font-size:20px;
  padding:10px;
  text-decoration: none;
  display: inline-block;
}

.menushort li a:hover{
  color: black;
  font-size:20px;
  padding:10px;
  text-decoration: none;
  border-bottom: 3px solid black;
  display: inline-block;
}

.menuderoulant li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  display: inline;
}

.menuderoulant{
  visibility:visible;
}

.boutonmenu {
  display:none;
  visibility: hidden;
}

@media (max-width:1000px){
  .menushort{
      visibility: hidden;
    }
}

@media (max-width:1000px){
  .menuheader {
    background-color: #3164f6;
    background-size: cover;
    width: 100%;
    height:100px;
    margin: 0;
    display: block;
    z-index:1000;
    position:relative;
    border-bottom: inset;
    overflow: hidden;
  }

  .logo img{
    width:300px;
  }

  .logo {
    top:-70px;
  left:3rem;
   position: absolute;
   z-index: 1;
  }

  .boutonmenu {
    font-family:"Times";
    display:inline-block;
    visibility: visible;
    float:right;
    font-size:40px;
    margin:20px 30px 30px 30px;
  }
  .imageheader{
    display:inline-block;
    float:left;
    width:24%;
  }
  .menuderoulant {
    background-color: blue;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
    text-align: left;
    display: block;
  }

  .visible3 {
    max-height: 500px;
  }

  .menuderoulant li {
    list-style: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  .menu {
    width:50%;
    float:none;
  }
}

.menu li{
  padding:5px;
}

.menu nav{
  position:absolute;
  top:39px;
  right:3rem;
  margin:20px;
}

.menu input{
  padding:10px;
  border-radius: 10px;
  border : 3px solid #ffffff;
  display: inline-block;
  outline:none;
  width:250px;
}

.menu li a{
  font-family: Verdana;
  color: #ffffff;
  font-size:20px;
  padding:8px;
  text-decoration: none;
  display: inline-block;
}

.menu li a:hover{
  color: black;
  font-size:20px;
  padding:8px;
  text-decoration: none;
  border-bottom: 3px solid black;
  display: inline-block;
}


.apparition {
  transition: opacity 1s ease;
  animation: apparition 1s;
  visibility: visible;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.dissolution {
  transition: opacity 1s ease;
  animation: dissolution 1s;
}

@keyframes dissolution {
  from {
    visibility:visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

/*FOOTER*/
footer {
  background-color:#2E2E2E;
  height: 50px;
  width: 100%;
  margin: 0;
}

footer li{
  color:#ffffff;
  display: inline-block;
  vertical-align: middle;
}

.textfooter {
    height:4px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

/*Contenu photo accueil*/

.div1{ /* Division Sport*/
  position:relative;
  width:100%;
  height:450px;
  display: inline-block;
  background-color:black;
  opacity:1;
  overflow: hidden;
}

.div3{ /* Division Forum + Aide*/
  position:relative;
  width:50%;
  height:150px;
  display: inline-block;
  background-color:black;
  opacity:1;
  overflow: hidden;
}

.img1{ /* Photo Sport*/
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:1;
  transition:all 0.8s ease;
}

.img2{ /* Image forum et Aide*/
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:1;
  transition:all 0.8s ease;
}

.img3{ /*Image Chintoc*/
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:1;
}

.div1 span{ /*Text Sport**/
  width: 100%;
  height: 100%;
  position:absolute;
  padding: 205px 0; /*centre verticalement*/
  text-align: center; /*centre au milieu*/
  z-index:2;
  overflow: hidden;
  cursor:pointer;
}

.div1 span:hover + .img1{
  filter:blur(10px);
    -webkit-filter:blur(10px);
}

.div3 span{ /* ATTENTION DIV2 UTILISEE PLUS BAS!! Text forum + aide*/
  width: 100%;
  height: 100%;
  position:absolute;
  padding: 50px 0;
  text-align: center;
  z-index:2;
  overflow: hidden;
  cursor:pointer;
}

.div3 span:hover + .img2{
  filter:blur(10px);
    -webkit-filter:blur(3px);
  /*EFFET ZOOM + GRISE
  transform:scale(1.5);
  filter:brightness(0.5);
    -webkit-filter:brightness(0.5);*/
}

#bouttoninscription{
  text-align:center;
}

.button{
  background-color: white;
  padding:10px 15px;
  border: 10px 50px;
  font-size:20px;
  width: 90%;
  height:80px;
  margin-top: 20px;
  transition:all 1s ease;
  cursor:pointer;
}

.button:hover{
  background-color: red;
  box-shadow: 0px 0px 10px #EDF5A5;
}


/* PARTIE POP UP*/

.popup{
  visibility:hidden;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index:7;
  background-color: rgba(0, 0, 0, 0);
  transition:all 0.4s linear;
}

.popup h1{
  font-size:90px;
}

.division1{
  margin:5% auto;
  width:80%;
  height:80%;
  box-shadow: black 0 0 10px;
  overflow:scroll;
  position: static;
  z-index: 9999;
  background-color:rgba(98, 97, 97, 0.9);
  transition:all 0.4s linear;
  transform: rotate(80deg)scale(0.0000001);
  text-align: center;
}


.visible{
  visibility:visible;
  background-color: rgba(0, 0, 0, 0.9); /*Noircit les extérieurs du pop up*/
}

.visible2{
  visibility:visible;
  transform: rotate(0deg)scale(1);
}

.division1 div{
  display:inline-block;
}

.division1 .Recherche{
  display:block;
  margin:10px auto;
}

.searchbar{
  width: 200px;
  margin: 0px auto;
  display: inline-block;
  height: 30px;
  border-radius:15px;
}

input.searchbar{
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 17px;
  padding-left:10px;
  outline: none;
}

#PhotoSport{
  width: 100%;
  height: 100%;
}

.boxes{
  width:250px;
  height:200px;
  margin:3% 2%;
  cursor:pointer;
  transition: all 0.2s ease;
  background-size: cover; /*Mettre contain si full taille */
  background-position:center;
  background-repeat: no-repeat;
  animation:boxes 1s;
}

@keyframes boxes{
  0%{
    opacity: 0;
    transform:scale(0.00001);
  }
  100%{
    opacity: 1;
    transform:scale(1);
  }
}

.boxes:hover{
  transform:scale(1.05);
}


/*Section aside*/
.div2{
  height:600px;
  filter: opacity(80%);
  -webkit-filter: opacity(80%);
  position:relative;
}

.div2bis{
  width:100%;
  position:absolute;
  height:600px;
  filter: opacity(80%);
    -webkit-filter: opacity(80%);
  display:inline-block;
  z-index:2;
}

.Haut1{
  margin:5% 10% 2% 10%;
  display:inline-block;
  background-color: red;
  width: 80%;
  height: 70%;
  z-index: 2;
}

.Bas1{
  margin:2% 10% 5%;
  display:inline-block;
  background-color: black;
  width: 80%;
  height: 20%;
  z-index: 2;
}

.ligne1 {
  height: 450px;
}

.ligne2{
  height: 150px;
}


  /*Fonctionnel*/
.centre{
  text-align:center;
}

.memeligne{
  display: block;
  vertical-align:middle;
}

.usualbackground{
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Police1{
  color:red;
  font-size:60px;
}

.Police2{
  color:green;
  font-size:30px;
}

/* Inscription */
fieldset {
  margin: 0.5em;
  padding: 0.5em;
  width:90%;
  margin:0 auto;
}

fieldset input{
  border: 1px black solid;
  margin: 0.5em;
  padding: 0.5em;
}

/*connexion*/

fieldset {
  position: relative;
  width: 65%;
  font-family: Verdana;
  font-size: 1em;
}

label
{
	display: block;
}

form {
  background: #71adeb;
  border-radius: 3px;
}

form input{
  display: inline-block;
}

form input:selected {
    border: none;
}

form h1 {
  padding: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 1.8em;
  color: white;
  background-color: #2c2c2c;
  border-bottom: 1px solid black;
}

form p {
    color: black;
    font-size: 0.6em;
}


#inscription {
  margin-top: 100px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  margin-left: 30%;
  background-color: rgba(255, 255, 255, 0.9);
}

#inscription label {
  text-align: center;
  float: left;
  width: 10%;
  height: 35px;
  margin: 4%;
  padding: 1px;
  margin-right: 0px;
  border: 1px solid black;
  border-right: 0px;
  border-radius: 5px 0px 0px 5px;
  background: linear-gradient(to bottom, #007eff, #0062c7);
}

#inscription img {
  margin: 3px;
  width: 70%;
}

#inscription input {
  font-size: 1em;
  color: white;
  height: 35px;
  width: 75%;
  padding: 5px;
  margin: 4%;
  margin-left: 0px;
  background: #414141;

  border-radius: 0px 5px 5px 0px;
}

#inscription #submit {
  position: relative;
  width: 120px;
  left: 10%;
  border: 1px solid black;
  background-color:  #414141;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

#inscription a{
  color: lightgrey;
  text-decoration: none;
}

#inscription a:visited{
  color: #08298A;
}

#inscription a:hover{
  color: #08298A;
  text-decoration: underline;;
}

.error_connexion {
  margin-top: 10px;
  font-size: 0.6em;
  color: red;
}


/*PAGE MON GROUPE*/

.haut_mongroupe{
margin:auto;
height:250px;
width:100%;
background-image: url("../images/Groupes/image_groupe.jpg");
background-size: cover;
}

.haut_mongroupe h1{
  color:#ffffff;
  position: absolute;
  top:65px;
  left:280px;
  font-family: Verdana;
  display: inline-block;
}

.hautdugroupe{
  margin: auto;
  width: 1100px;
  position:relative;
  top:140px;
}


#image_mongroupe{
  width:170px;
  height: 170px;
  margin-top: 0px;
  margin-left: 5rem;
  display: inline-block;
  padding:5px;
  border:solid 1px grey;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
}

.menu_mongroupe {
  position: absolute;
  top:110px;
  width:1100px;
  display: block;
  overflow: hidden;
  border-bottom: solid 1px grey;
  height:45px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 5px 5px #888888;
}

.menu_mongroupe nav {
  display: inline-block;
  margin: 0;
  margin-left: 250px;
}

.menu_mongroupe nav a{
    font-family: Verdana;
  text-decoration: none;
  font-size: 18px;
    color: #08298A;
}

.menu_mongroupe nav a:hover{
  text-decoration: none;
  font-size: 18px;
  color:black;
}

.menu_mongroupe nav a:focus{
  text-decoration: none;
  font-size: 18px;
  color:black;
}

.menu_mongroupe nav li:focus{
  padding-top: 7px;
  padding-left: 18px;
  padding-right: 12px;
  display: inline-block;
  border-top:solid 5px black;
}

.menu_mongroupe nav li{
  margin:0px;
  padding: 12px;
  padding-left: 18px;
  display: inline-block;
}

.menu_mongroupe nav li:hover{
  padding-top: 6px;
  padding-left: 18px;
  padding-right: 12px;
  display: inline-block;
  border-top:solid 6px black;
}

.bouton_inscription {
  display: inline-block;
  color:#0B610B;
  background-color: #FAFAFA;
  font-size: 18px;
  margin-left: 120px;
  border: outset 1px;
  border-radius: 8px;
  padding:4px;
  padding-left: 8px;
  padding-right: 8px;
}

.bouton_inscription:hover{
  border-top: solid 6px #0B610B;
  background-color: #E6E6E6;
  font-size: 18px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 5px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}

.bouton_inscription a{
  color:#0B610B;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  border-top:green;
  text-decoration: none;
}

.bouton_inscription a:hover{
  font-size: 18px;
  font-family: Verdana, sans-serif;
  text-decoration: none;
}


body{
  background-image:url("../images/wallpaper.png");
  background-size: auto;
  height: 100%;
  width: 100%;
}

.corps_mongroupe{
  position: relative;
  top:62px;
  width:1107px;
  margin:auto;
  clear:both;
}

.mur_mongroupe{
  display: inline-block;
  vertical-align: top;
  width:49.1%;
}

.cote_droit{
    display: inline-block;
    width:25%;
    vertical-align: top;
}

.cote_gauche{
    display: inline-block;
    width:25%;
    vertical-align: top;
}

.forme_case{
  width:98%;
  margin-top: auto;
  display: block;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 9px ;
  box-shadow: 5px 5px 5px #888888;
  margin-bottom: 12px;
}

.text_apropos{
  margin-left: 6px;
  width:90%;
}

#titre h1{
  font-family: Verdana, sans-serif;
  font-size: 18px;
  padding:5px;
  color:#ffffff;
  font-weight: normal;
  margin-left:4px;
  background:cover;
}

#titre{
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
  background: cover;
  width:100%;
}

#text_mongroupe{
  font-family: Verdana, sans-serif;
  font-size: 14px;
  padding:9px;
  color:#070719;
  font-weight: normal;
  text-align: justify;
}

#nom_sport{
  background: linear-gradient(141deg, #FF0000 19%, #FF4000 61%, #FF8000 75%);
  font-family:Arial black;
}

#nom_sport h1{
  margin-left: 10px;
}

.evenements li{
  height:100px;
  overflow: hidden;
  display: block;
}


.evenements img{
  width:100%;
}

.evenements li:hover{
  filter: blur(2px);
  -webkit-filter:blur(2px);
}

.evenements h2{
  color:white;
}

#publication{
  margin: auto;
  border-bottom: solid 1px grey;
  display: block;
}

#publication:hover{
  margin: auto;
  border-bottom: solid 1px grey;
  display: block;
  background-color: #FAFAFA;
}

#publication h1{
  font-family: Verdana;
  font-size: 20px;
  margin-left: 7px;
  display: inline;
}

#publication h2{
  font-family: Verdana;
  font-size: 10px;
  margin-left: 7px;
  display: inline;
  color:#848484;
  text-decoration: none;
}

#publication p{
  padding:7px;
  font-family: Verdana;
  font-size: 16px;
  margin-left: 7px;
  margin-bottom: 8px;
}

@media (max-width:1110px){
  .haut_mongroupe{
  margin:auto;
  height:150px;
  width:100%;
  background-image: url("../images/Groupes/image_groupe.jpg");
  background-size: cover;
  }

  .haut_mongroupe h1{
    color:#ffffff;
    position: absolute;
    top:30px;
    left:40%;
    font-family: Verdana;
    display: inline-block;
    font-size: 25px;
  }

  .hautdugroupe{
    margin: auto;
    width: 100%;
    position:relative;
    top:0px;
    border: solid 0px red;
  }


  #image_mongroupe{
    width:80px;
    height: 80px;
    margin-top: 15px;
    margin-left: 10%;
    display: inline-block;
    padding:5px;
    border:solid 1px grey;
    background-color: white;
    border-radius: 4px;
    display: inline-block;;
    z-index: 10;
  }

  .menu_mongroupe {
    position: absolute;
    top:110px;
    width:100%;
    display: block;
    overflow: hidden;
    border-bottom: solid 1px grey;
    height:250px;
    z-index: 1;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0px;
  }

  .menu_mongroupe nav {
    display: block;
    margin-left:30%;
  }

  .menu_mongroupe nav a{
      font-family: Verdana;
    text-decoration: none;
    font-size: 18px;
      color: #08298A;
  }

  .menu_mongroupe nav a:hover{
    text-decoration: none;
    font-size: 18px;
    color:black;
  }

  .menu_mongroupe nav a:focus{
    text-decoration: none;
    font-size: 18px;
    color:black;
  }

  .menu_mongroupe nav li:focus{
    padding-top: 7px;
    padding-left: 18px;
    padding-right: 12px;
    display: inline-block;
    border-top:solid 5px black;
  }

  .menu_mongroupe nav li{
    margin:0px;
    padding: 12px;
    padding-left: 18px;
    display: block;
  }

  .menu_mongroupe nav li:hover{
    padding-top: 6px;
    padding-left: 18px;
    padding-right: 12px;
    display: inline-block;
    border-top:solid 6px black;
  }

  .bouton_inscription {
    display: inline-block;
    color:#0B610B;
    background-color: #FAFAFA;
    font-size: 18px;
    margin-left: 32%;
    border: outset 1px;
    border-radius: 8px;
    padding:4px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .bouton_inscription:hover{
    border-top: solid 6px #0B610B;
    background-color: #E6E6E6;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 5px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
  }

  .bouton_inscription a{
    color:#0B610B;
    font-size: 18px;
    font-family: Verdana, sans-serif;
    border-top:green;
    text-decoration: none;
  }

  .bouton_inscription a:hover{
    font-size: 18px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
  }


  body{
    background-color: #E6E6E6;
    height: 100%;
    width: 100%;
  }

  .corps_mongroupe{
    position: relative;
    top:220px;
    width:100%;
    margin:auto;
    clear:both;
  }

  .mur_mongroupe{
    display: block;
    vertical-align: top;
    width:100%;
  }

  .cote_droit{
      display: block;
      width:100%;
      vertical-align: top;
  }

  .cote_gauche{
      display: block;
      width:100%;
      vertical-align: top;
  }

  .forme_case{
    width:98%;
    margin-top: auto;
    display: block;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 9px ;
    box-shadow: 5px 5px 5px #888888;
    margin-bottom: 12px;
  }

  .text_apropos{
    margin-left: 6px;
    width:90%;
  }

  #titre h1{
    font-family: Verdana, sans-serif;
    font-size: 18px;
    padding:5px;
    color:#ffffff;
    font-weight: normal;
    margin-left:4px;
    background:cover;
  }

  #titre{
      background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
    background: cover;
    width:100%;
  }

  #text_mongroupe{
    font-family: Verdana, sans-serif;
    font-size: 14px;
    padding:9px;
    color:#070719;
    font-weight: normal;
    text-align: justify;
  }

  #nom_sport{
    background: linear-gradient(141deg, #FF0000 19%, #FF4000 61%, #FF8000 75%);
    font-family:Arial black;
  }

  #nom_sport h1{
    margin-left: 10px;
  }

  .evenements li{
    height:100px;
    overflow: hidden;
    display: block;
  }

  .evenements img{
    width:100%;
  }

  .evenements h2{
    color:white;
  }

  #publication{
    margin: auto;
    border-bottom: solid 1px grey;
    display: block;
  }

  #publication:hover{
    margin: auto;
    border-bottom: solid 1px grey;
    display: block;
    background-color: #FAFAFA;
  }

  #publication h1{
    font-family: Verdana;
    font-size: 20px;
    margin-left: 7px;
    display: inline;
  }

  #publication h2{
    font-family: Verdana;
    font-size: 10px;
    margin-left: 7px;
    display: inline;
    color:#848484;
    text-decoration: none;
  }

  #publication p{
    padding:7px;
    font-family: Verdana;
    font-size: 16px;
    margin-left: 7px;
    margin-bottom: 8px;
  }
}

/* aide*/

.question {
    width: 165%;
    margin-left: 10%;
    margin-top: 50px;
}

.faq {
    margin-left: 47%;
    margin-top: 50px;
}

ul {
  list-style-type: none;
}

.question1 {
  display:inline-block;
  width: 49%;
  text-decoration: none;
}
.question2 {
  display: inline-block;
  width:49%;
  text-decoration: none;
}

/* Page RechercheGroupe */
.groupe{
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid black;
  margin: 1%;
  width: 47%;
  height: 250px;
  transition: 1s all ease;
}

.groupe:hover{
  display: inline-block;
  border: 1px solid black;
  width: 48%;
  height: 260px;
}

.imagegroupe{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 65%;
}

.nomgroupe{
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#descriptiongroupe{
  font-size: 80%;
}

.filtre{
  vertical-align: top;
  display: inline-block;
  width: 18%;
  text-align: center;
}

.filtre p{
  margin-top: 50%;
}

.recherchefiltre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.recherchegroupe{
  display: inline-block;
  max-width: 63%;
  margin: 0 auto;
}

#boutonrecherche{
  color: white;
  border: 2px outset grey;
  border-radius: 5px;
  background-color: rgb(16, 201, 196);
  margin-left: 60px;
  margin-right: 60px;
}

#boutonrecherche:active{
  border-style: inset;
}

/* Profil */

.profil {
  margin-top: 80px;
}

.corps_profil {
  border: 1px solid black;
  margin-right: 15%;
  margin-left: auto;
  width: 60%;

  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #1F2A36;
}

.gauche_profil {
  border: 1px solid black;
  width: 10%;
  float: left;
  margin-left: 10%;
  margin-right: 5%;

  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #1F2A36;
}

.gauche_profil h1 {
  color: #183152;
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid #183152;
}

.gauche_profil li {
  list-style-type: none;
  padding: 3px;
}

#actualite {
    margin: auto;
    display: block;
}

#actualite h1{
  font-family: Verdana;
  font-size: 20px;
  margin-left: 7px;
  display: inline;
}

#actualite h2{
  font-family: Verdana;
  font-size: 10px;
  margin-left: 7px;
  display: inline;
  color:#848484;
  text-decoration: none;
}

#actualite p{
  padding:7px;
  font-family: Verdana;
  font-size: 16px;
  margin-bottom: 8px;
  border-top: 1px solid grey;
}

#groupes_profil {
  width: 70%;
  margin-left: 15%;

  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #1F2A36;
}

#groupe h1 {
  font-family: Verdana;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 7px;
  display: inline;
}

#groupe h2{
  font-family: Verdana;
  font-size: 10px;
  margin-left: 7px;
  display: inline;
  color:#848484;
  text-decoration: none;
}

#groupe p{
  padding:7px;
  font-family: Verdana;
  font-size: 16px;
  margin-bottom: 8px;
  border-top: 1px solid grey;
}

#groupe a{
  text-decoration: none;
  font-size: 14px;
}

#calendrier_profil .calendrier{
  top: inherit;
}



/* Calendrier */
#next {
  float: right;
  padding-right: 10px;
}

#previous {
  float: left;
  padding-left: 10px;
}

.nav {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 0px;
  color: white;
  background-color: rgba(255, 0, 0, 0);
}

.calendrier {
  top: 50px;
  position: relative;
  margin:3px auto;
  width: 70%;
  box-shadow: 0px 0px 5px #000000;
}

.disabled {
  background-color: lightgrey;
}

.calendrier h2 {
  color: white;
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;

  min-width: 560px;
  font: 1.5em Verdana;
  width: 100%;
  height: 40px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
  border: 1px solid black;
  border-bottom: 0px;
}

table {
  border-collapse: collapse;
  background-color: white;
}

td {
  min-width: 80px;
  padding: 5px;
  padding-bottom: 10px;
  border: 1px solid black;
}

.jourSemaine {
  text-align: center;
  font: 1.2em Verdana;
}

.chiffreSemaine {
  float:left;
  font: 1em Verdana;
    font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

.event {
  text-align: right;
  width: 100%;
  color: white;
  font: 0.75em Verdana;
  max-width: 100%;
  max-height: 3ex;
  overflow: hidden;
  margin: 1px;
  padding: 3px;
  border-radius: 3px;
}

.pas_important {
  background-color: rgba(0, 150, 0, 0.60);
}

.important {
  background-color: rgba(150, 0, 0, 0.60);
}

.haut_calendrier {
  width: 100%;
  height: 250px;
  background-image: url("../images/General/fond_cliff.jpg");
  background-size: cover;
}

.titre_calendrier {
  margin-left: 10%;
  position: relative;
  top: 100%;
  width: 80%;
  border: 1px solid grey;
  border-top: 0px;
  height:45px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 0px 0px 15px 15px;
}

.titre_calendrier h1 {
  margin: 5px;
  padding-left: 10px;
  font-family: Verdana;
  text-decoration: none;
  font-size: 1.8em;
  color: #08298A;
}


/* Forum */
.bodyforum {
	font-family: Verdana, sans-serif;
	background-color: #e6e6e6;
}


.sectionForum {
	margin-top: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.premierHR {
	margin-top: 0em;
    margin-bottom: 0em;
   	border: 0;
   	height: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
}

a {
	color: #000000;
}


/*input {
	border: none;
	width: 150px;
}*/

.forums {
	display:inline-block;
	width: 58%;
}

.barre-recherche {
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 10px;
	width: 20%;
	min-width: 200px;
}

.container-barre {
	display: inline-block;
	text-align: center;
	width: 30%;
}

.container {
}

.fleche, .lien-forum {
	display: inline-block;
}

.fleche {
	margin-left: 30px;
	margin-right: 30px;
}


.fa-arrow-circle-o-right {
	color: #2cb6e7;
}


.fa-search {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}
