
/*GROSSES SECTIONS*/
html{
  font-family: 'Kaushan Script', cursive;
}

*{
  margin:0;
  padding: 0;
  border: 0;
  box-sizing:border-box;
}

body{
  min-height: 666px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
thead{
  text-align: center;
}

section,
aside,
footer {
  margin: 0 0 24px 0;
}

section {
  float: left;
  width: 65%;
  /*margin-left:30px;*/
}

aside {
  float: right;
  width: 35%;
  /*margin-right:20px;*/
}

form{
  background-color:rgb(145, 176, 245);
}
#content{
  position: relative;
}



/*HEADER*/
.menuheader {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
  background-size: cover;
  width: 100%;
  height:150px;
  margin: 0;
  display: block;
  z-index:6;
  position:relative;
  border-bottom: inset;
  overflow: hidden;
}

.logo img{
  width:500px;
}

.logo {
  top:-130px;
left:3rem;
 position: absolute;
 z-index: 1;
}

.menushort{
  top: 0px;
  position:fixed;
  z-index:5;
  color:red;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
  background-size : cover;
  display: block;
  width:100%;
  height:70px;
  visibility:hidden;
}

.logo2 img{
  width:160px;
}

.logo2 {
  top:-35px;
left:6rem;
 position: absolute;
 z-index: 1;
}

.menushort nav{
  position: absolute;
  right:4rem;;
  top:10px;
  display: inline-block;
  z-index: 3;
}

.menushort li{
  display: inline-block;
}

.menushort input{
  margin-bottom:10px;
  padding:10px;
  margin-right:10px;
  border-radius: 10px;
  outline:none;
  width:200px;
}


.menushort li a{
  font-family: Verdana;
  color: #ffffff;
  font-size:20px;
  padding:10px;
  text-decoration: none;
  display: inline-block;
}

.menushort li a:hover{
  color: black;
  font-size:20px;
  padding:10px;
  text-decoration: none;
  border-bottom: 3px solid black;
  display: inline-block;
}

.menuderoulant li {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  display: inline;
}

.menuderoulant{
  visibility:visible;
}

.boutonmenu {
  display:none;
  visibility: hidden;
}

@media (max-width:1000px){
  .menushort{
      visibility: hidden;
    }
}

@media (max-width:1000px){
  .menuheader {
    background-color: #3164f6;
    background-size: cover;
    width: 100%;
    height:100px;
    margin: 0;
    display: block;
    z-index:1000;
    position:relative;
    border-bottom: inset;
    overflow: hidden;
  }

  .logo img{
    width:300px;
  }

  .logo {
    top:-70px;
  left:3rem;
   position: absolute;
   z-index: 1;
  }

  .boutonmenu {
    font-family:"Times";
    display:inline-block;
    visibility: visible;
    float:right;
    font-size:40px;
    margin:20px 30px 30px 30px;
  }
  .imageheader{
    display:inline-block;
    float:left;
    width:24%;
  }
  .menuderoulant {
    background-color: blue;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease;
    text-align: left;
    display: block;
  }

  .visible3 {
    max-height: 500px;
  }

  .menuderoulant li {
    list-style: none;
    margin-bottom: 10px;
    display: inline-block;
  }
  .menu {
    width:50%;
    float:none;
  }
}

.menu li{
  padding:5px;
}

.menu nav{
  position:absolute;
  top:39px;
  right:3rem;
  margin:20px;
}

.menu input{
  padding:10px;
  border-radius: 10px;
  border : 3px solid #ffffff;
  display: inline-block;
  outline:none;
  width:250px;
}

.menu li a{
  font-family: Verdana;
  color: #ffffff;
  font-size:20px;
  padding:8px;
  text-decoration: none;
  display: inline-block;
}

.menu li a:hover{
  color: black;
  font-size:20px;
  padding:8px;
  text-decoration: none;
  border-bottom: 3px solid black;
  display: inline-block;
}


.apparition {
  transition: opacity 1s ease;
  animation: apparition 1s;
  visibility: visible;
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.dissolution {
  transition: opacity 1s ease;
  animation: dissolution 1s;
}

@keyframes dissolution {
  from {
    visibility:visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

/*FOOTER*/
footer {
  background-color:#2E2E2E;
  height: 50px;
  width: 100%;
  margin: 0;
}

footer li{
  color:#ffffff;
  display: inline-block;
  vertical-align: middle;
}

.textfooter {
    height:4px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

/*Contenu photo accueil*/

.div1{ /* Division Sport*/
  position:relative;
  width:100%;
  height:450px;
  display: inline-block;
  background-color:black;
  opacity:1;
  overflow: hidden;
}

.div3{ /* Division Forum + Aide*/
  position:relative;
  width:50%;
  height:150px;
  display: inline-block;
  background-color:black;
  opacity:1;
  overflow: hidden;
}

.img1{ /* Photo Sport*/
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:1;
  transition:all 0.8s ease;
}

.img2{ /* Image forum et Aide*/
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:1;
  transition:all 0.8s ease;
}

.img3{ /*Image Chintoc*/
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:1;
}

.div1 span{ /*Text Sport**/
  width: 100%;
  height: 100%;
  position:absolute;
  padding: 205px 0; /*centre verticalement*/
  text-align: center; /*centre au milieu*/
  z-index:2;
  overflow: hidden;
  cursor:pointer;
}

.div1 span:hover + .img1{
  filter:blur(10px);
    -webkit-filter:blur(10px);
}

.div3 span{ /* ATTENTION DIV2 UTILISEE PLUS BAS!! Text forum + aide*/
  width: 100%;
  height: 100%;
  position:absolute;
  padding: 50px 0;
  text-align: center;
  z-index:2;
  overflow: hidden;
  cursor:pointer;
}

.div3 span:hover + .img2{
  filter:blur(10px);
    -webkit-filter:blur(3px);
  /*EFFET ZOOM + GRISE
  transform:scale(1.5);
  filter:brightness(0.5);
    -webkit-filter:brightness(0.5);*/
}

#bouttoninscription{
  text-align:center;
}

.button{
  background-color: white;
  padding:10px 15px;
  border: 10px 50px;
  font-size:20px;
  width: 90%;
  height:80px;
  margin-top: 20px;
  transition:all 1s ease;
  cursor:pointer;
}

.button:hover{
  background-color: red;
  box-shadow: 0px 0px 10px #EDF5A5;
}


/* PARTIE POP UP*/

.popup{
  visibility:hidden;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index:7;
  background-color: rgba(0, 0, 0, 0);
  transition:all 0.4s linear;
}

.popup h1{
  font-size:90px;
}

.division1{
  margin:5% auto;
  width:80%;
  height:80%;
  box-shadow: black 0 0 10px;
  overflow:scroll;
  position: static;
  z-index: 9999;
  background-color:rgba(98, 97, 97, 0.9);
  transition:all 0.4s linear;
  transform: rotate(80deg)scale(0.0000001);
  text-align: center;
}


.visible{
  visibility:visible;
  background-color: rgba(0, 0, 0, 0.9); /*Noircit les extérieurs du pop up*/
}

.visible2{
  visibility:visible;
  transform: rotate(0deg)scale(1);
}

.division1 div{
  display:inline-block;
}

.division1 .Recherche{
  display:block;
  margin:10px auto;
}

.searchbar{
  width: 200px;
  margin: 0px auto;
  display: inline-block;
  height: 30px;
  border-radius:15px;
}

input.searchbar{
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 17px;
  padding-left:10px;
  outline: none;
}

#PhotoSport{
  width: 100%;
  height: 100%;
}

.boxes{
  width:250px;
  height:200px;
  margin:3% 2%;
  cursor:pointer;
  transition: all 0.2s ease;
  background-size: cover; /*Mettre contain si full taille */
  background-position:center;
  background-repeat: no-repeat;
  animation:boxes 1s;
}

@keyframes boxes{
  0%{
    opacity: 0;
    transform:scale(0.00001);
  }
  100%{
    opacity: 1;
    transform:scale(1);
  }
}

.boxes:hover{
  transform:scale(1.05);
}


/*Section aside*/
.div2{
  height:600px;
  filter: opacity(80%);
  -webkit-filter: opacity(80%);
  position:relative;
}

.div2bis{
  width:100%;
  position:absolute;
  height:600px;
  filter: opacity(80%);
    -webkit-filter: opacity(80%);
  display:inline-block;
  z-index:2;
}

.Haut1{
  margin:5% 10% 2% 10%;
  display:inline-block;
  background-color: red;
  width: 80%;
  height: 70%;
  z-index: 2;
}

.Bas1{
  margin:2% 10% 5%;
  display:inline-block;
  background-color: black;
  width: 80%;
  height: 20%;
  z-index: 2;
}

.ligne1 {
  height: 450px;
}

.ligne2{
  height: 150px;
}


/* Inscription */
fieldset {
  margin: 0.5em;
  padding: 0.5em;
  width:90%;
  margin:0 auto;
}

fieldset input{
  border: 1px black solid;
  margin: 0.5em;
  padding: 0.5em;
}

/*connexion*/

fieldset {
  position: relative;
  width: 65%;
  font-family: Verdana;
  font-size: 1em;
}

label
{
	display: block;
}

form input{
  display: inline-block;
}

form input:selected {
    border: none;
}


body{
  background-image:url("../images/wallpaper.png");
  background-size: auto;
  height: 100%;
  width: 100%;
}

form h1 {
  padding: 5px;
  padding-left: 10px;
  text-decoration: none;
  font-size: 1.8em;
  color: white;
  background-color: #2c2c2c;
  border-bottom: 1px solid black;
}

form p {
    color: black;
    font-size: 0.6em;
}


#inscription {
  margin-top: 100px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  width: 40%;
  margin-left: 30%;
  background-color: rgba(255, 255, 255, 0.9);
}

#inscription label {
  text-align: center;
  float: left;
  width: 10%;
  height: 35px;
  margin: 4%;
  padding: 1px;
  margin-right: 0px;
  border: 1px solid black;
  border-right: 0px;
  border-radius: 5px 0px 0px 5px;
  background: linear-gradient(to bottom, #007eff, #0062c7);
}

#inscription img {
  margin: 3px;
  width: 70%;
}

#inscription input {
  font-size: 1em;
  color: white;
  height: 35px;
  width: 75%;
  padding: 5px;
  margin: 4%;
  margin-left: 0px;
  background: #414141;

  border-radius: 0px 5px 5px 0px;
}

#inscription #submit {
  position: relative;
  width: 120px;
  left: 10%;
  border: 1px solid black;
  background-color:  #414141;
  border-radius: 5px 5px 5px 5px;
  color: white;
}

#inscription a{
  color: lightgrey;
  text-decoration: none;
}

#inscription a:visited{
  color: #08298A;
}

#inscription a:hover{
  color: #08298A;
  text-decoration: underline;;
}

.error_connexion {
  margin-top: 10px;
  font-size: 0.6em;
  color: red;
}


/*PAGE MON GROUPE*/
.fond_mongroupe{
  background-color: #D8D8D8;
  font-family: Verdana;

}

#image_de_fond{
  margin:auto;
  height:220px;
  width:100%;
  overflow: hidden;
}

#image_de_fond img{
  width:100%;
}

#haut_mongroupe{
  margin:auto;
  width:1100px;
  position: relative;
  top:-110px;
}

#haut_mongroupe img{
  width:170px;
  height:170px;
  margin-left:5rem;
  padding:5px;
  display: inline-block;
  border:solid 1px grey;
  background-color: white;
  border-radius:4px;
  z-index:2;
  position: absolute;
}

#haut_mongroupe h1{
  display: inline-block;
  color:white;
  margin-left: 280px;
  top: 65px;
  position: absolute;
}

#menu_mongroupe{
  display: block;
  top:110px;
  width:1100px;
  position: absolute;
  background-color: white;
  z-index: 1;
  height:45px;
  border-radius: 0px 0px 15px 15px;
}

#menu_mongroupe a{
  display: inline-block;
  text-decoration: none;
  list-style-type:none;
  font-size: 18px;
}

#non_selectionne{
  padding-top:12px;
  font-size: 18px;
  color:#08298A;
  padding:8px;
}

#non_selectionne:hover{
  padding-top:5px;
  border-top: solid 7px black;
  color: black;
  padding:8px;
}

#selectionne{
  padding-top:5px;
  border-top: solid 7px black;
  color: black;
  padding:8px;
}

#abonnement{
  margin-left:160px;
  color:#0B610B;
  background-color: #FAFAFA;
  border: outset 1px;
  border-radius: 8px;
  padding:4px;
  vertical-align: top;
  margin-top: 6px;
}

#abonnement:hover{
  background-color: green;
  color:white;
}

#menu_mongroupe nav{
  margin-left: 270px;
}

@media(max-width:1100px){

  #image_de_fond{
    height:90px;
  }

  #haut_mongroupe h1{
    font-size: 25px;
    margin-left: 220px;
    top: 30px;
    position: absolute;
  }

  #haut_mongroupe img{
    width:80px;
    height:80px;
    top:25px;
    margin-left:10%;
  }

  #menu_mongroupe a{
    display: block;
    text-decoration: none;
    list-style-type:none;
    font-size: 18px;
  }

  #menu_mongroupe{
    width:100%;
    position: absolute;
    background-color: white;
    z-index: 1;
    height:200px;
    border-radius: 0px 0px 15px 15px;
  }

  #abonnement{
    margin-left:0px;
  }
}

/* MON GROUPE PUBLCIATION*/
#corps_mongroupe{
  position: relative;
  top:62px;
  width:1107px;
  margin:auto;
  clear: both;
}

.radius_mongroupe{
  border-radius:10px;
}

.cote{
  display:inline-block;
  vertical-align: top;
  width:25%;
  overflow: hidden;
  padding:2px;
}

#mur_mongroupe{
  display:inline-block;
  vertical-align: top;
  width:48%;
  padding:2px;
}

.forme_case{
  background-color: white;
  margin-bottom: 10px;
  overflow: hidden;
}

.forme_case p{
  padding:9px;
}

#nom_sport{
  padding:4px;
  background: linear-gradient(141deg, #FF0000 19%, #FF4000 61%, #FF8000 75%)
}

.titre{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
  background: cover;
  width:100%;
  color:white;
}

.titre h1 {
  font-size: 18px;
  color:white;
  padding:4px;
}

.fb-share-button{
  padding: 7px;
  margin-left: 5px;
}

#publication h1{
  padding:5px;
  display: inline-block;
}

#publication h2{
  display: inline-block;
  font-size: 14px;
  color:grey;
}

.evenenement{
  height:140px;
  overflow: hidden;
}

.evenenement img{
  width: 100%;
}

@media(max-width:1100px){
  #corps_mongroupe{
    position: relative;
    top:200px;
    width:100%;
  }

  .cote{
    display:block;
    width:100%;
  }

  #mur_mongroupe{
    display:block;
    width:100%;
  }
}

/*MON GROUPE MEMBRES*/
#case_membre{
  display: inline-block;
  width:32%;
  padding:10px;
  margin:4px;
}

#case_membre img{
  width:80px;
  height:80px;
  display: inline-block;
  vertical-align: middle;
}

#case_membre a{
  margin:5px;
  display: inline-block;
  text-decoration: none;
  font-size: 8px;
}

@media(max-width:1100px){
  #case_membre{
    display: block;
    width:100%;
  }
}

/*MON GROUPE EVENEMENT*/
.case_mongroupeevenement{
  height:300px;
  width:100%;
  margin-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px #888888;
  overflow: hidden;
}

.texteevenement{
  vertical-align: top;
  padding:2px;
  padding-top: 10px;
  display: inline-block;
}
.case_mongroupeevenement h1{
  color:black;
  font-family: Verdana;
  font-size: 20px;
}

.case_mongroupeevenement a{
  background-color: #FAFAFA;
  border-radius: 10px;
  padding:5px;
  text-decoration: none;
  margin: 4px;
  color:blue;
  border:solid 1px #BDBDBD;
}

.case_mongroupeevenement a:hover{
  background-color: #585858;
  color:#ffffff;
}

.case_mongroupeevenement p{
  display: block;
  margin: 9px;
  font-family: Verdana;
}

.case_mongroupeevenement img{
  width:55%;
  background: cover;
  display: inline-block;
}

@media(max-width:1100px){
  .case_mongroupeevenement{
    height:250px;
    width:100%;
    margin-bottom: 5px;
    margin-bottom: 8px;
  }

  .texteevenement{
    display: block;
  }

  .case_mongroupeevenement h1{
    font-size: 15px;
  }



  .case_mongroupeevenement img{
    width:100%;
    display: block;
    height:100px;
    background: cover;
  }
  }

/*MON GROUPE INFORMATIONS*/

  .cote_informations{
    display:inline-block;
    vertical-align: top;
    width:49%;
    overflow: hidden;
    padding:2px;
  }

  .cote_informations h2{
    padding:4px;
    margin-left: 6px;
    font-size: 16px;
  }

  @media(max-width:1100px){
    .cote_informations{
      display:block;
      width:100%;
    }
  }

  /*PAGE EVENEMENT MON GROUPE*/
  .participation a{
    background-color: #2E2EFE;
    border-radius: 10px;
    padding:10px;
    margin:8px;
    text-decoration: none;
    margin-bottom: 4px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    color:white;
    display: block;
    border:solid 1px #BDBDBD;
  }

  .participation p{
    margin: auto;
  }

  .participation a:hover{
    background-color: #585858;
    color:#ffffff;
  }

#boutonrecherche{
  color: white;
  border: 2px outset grey;
  border-radius: 5px;
  background-color: rgb(16, 201, 196);
  margin-left: 60px;
  margin-right: 60px;
}

#boutonrecherche:active{
  border-style: inset;
}

/* Forum */
.AllForum {
	font-family: Verdana, sans-serif;
	background-color: #e6e6e6;
}

.AllForum a {
	color: #000000;
}

.PoliceForum {
	text-align: right;
	font-size: 50px;
}

.lien-forum p {
	font-style: italic;
}


.forum {
	width: 80%;
  margin:50px auto;
	border: 1px solid white;
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}

.HR1 {
	margin-top: 0em;
    margin-bottom: 0em;
   	border: 0;
   	height: 0;
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
    border-top: 1px solid black;
    border-bottom: 1px solid white;
}

.forumrecherche input {
	border: none;
	width: 150px;
}

.forums {
	display:inline-block;
	width: 58%;
}

.barre-recherche {
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 10px;
	width: 20%;
	min-width: 200px;
  background: #71adeb;
}

.container-barre {
	display: inline-block;
	text-align: center;
	width: 30%;
}

.containerforum {
  padding:10px;
  transition:1s all ease;
}

.fleche, .lien-forum {
	display: inline-block;
}

.fleche {
	margin-left: 30px;
	margin-right: 30px;
}

.fa-arrow-circle-o-right {
	color: #2cb6e7;
}

.fa-search {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.containerforum:hover{
  background-color: rgb(156, 156, 156);
}

/* aide*/
.question {
  width: 100%;
}

.faq {
  width:25%;
  margin:0 auto;
  text-align:center;
  margin-top: 50px;
}

.blockSection{
  display:inline-block;
  width: 49%;
  text-decoration: none;
  margin: 10px 0;
  vertical-align: top;
}

.TitreSection{
  color:black;
  padding:4 0;
}

ul {
  list-style-type: none;
}


/* Page RechercheGroupe */
.groupe{
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid black;
  margin: 1%;
  width: 47%;
  height: 250px;
  transition: 1s all ease;
}

.groupe:hover{
  display: inline-block;
  border: 1px solid black;
  width: 48%;
  height: 260px;
}

.imagegroupe{
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 65%;
}

.nomgroupe{
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#descriptiongroupe{
  font-size: 80%;
}

.filtre{
  vertical-align: top;
  display: inline-block;
  width: 18%;
  text-align: center;
}

.filtre p{
  margin-top: 50%;
}

.recherchefiltre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.recherchegroupe{
  display: inline-block;
  max-width: 63%;
  margin: 0 auto;
}

#boutonrecherche{
  color: white;
  border: 2px outset grey;
  border-radius: 5px;
  background-color: rgb(16, 201, 196);
  margin-left: 60px;
  margin-right: 60px;
}

#boutonrecherche:active{
  border-style: inset;
}

/* Profil */

.profil {
  margin-top: 80px;
}

.corps_profil {
  border: 1px solid black;
  margin-right: 15%;
  margin-left: auto;
  width: 60%;

  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #1F2A36;
}

.gauche_profil {
  border: 1px solid black;
  width: 10%;
  float: left;
  margin-left: 10%;
  margin-right: 5%;

  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 5px #1F2A36;
}

.gauche_profil h1 {
  color: #183152;
  font-size: 20px;
  padding: 5px;
  border-bottom: 1px solid #183152;
}

.gauche_profil li {
  list-style-type: none;
  padding: 3px;
}

#actualite {
    margin: auto;
    display: block;
}

#actualite h1{
  font-family: Verdana;
  font-size: 20px;
  margin-left: 7px;
  display: inline;
}

#actualite h2{
  font-family: Verdana;
  font-size: 10px;
  margin-left: 7px;
  display: inline;
  color:#848484;
  text-decoration: none;
}

#actualite p{
  padding:7px;
  font-family: Verdana;
  font-size: 16px;
  margin-bottom: 8px;
  border-top: 1px solid grey;
}

#groupes_profil {
  width: 70%;
  margin-left: 15%;

  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px #1F2A36;
}

#groupe h1 {
  font-family: Verdana;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 7px;
  display: inline;
}

#groupe h2{
  font-family: Verdana;
  font-size: 10px;
  margin-left: 7px;
  display: inline;
  color:#848484;
  text-decoration: none;
}

#groupe p{
  padding:7px;
  font-family: Verdana;
  font-size: 16px;
  margin-bottom: 8px;
  border-top: 1px solid grey;
}

#groupe a{
  text-decoration: none;
  font-size: 14px;
}

#calendrier_profil .calendrier{
  top: inherit;
}



/* Calendrier */
#next {
  float: right;
  padding-right: 10px;
}

#previous {
  float: left;
  padding-left: 10px;
}

.nav {
  height: 30px;
  padding-top: 5px;
  padding-bottom: 0px;
  color: white;
  background-color: rgba(255, 0, 0, 0);
}

.calendrier {
  top: 50px;
  position: relative;
  margin:3px auto;
  width: 70%;
  box-shadow: 0px 0px 5px #000000;
}

.disabled {
  background-color: lightgrey;
}

.calendrier h2 {
  color: white;
  margin-top: 20px;
  padding-top: 5px;
  text-align: center;

  min-width: 560px;
  font: 1.5em Verdana;
  width: 100%;
  height: 40px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 61%, #2cb5e8 75%);
  border: 1px solid black;
  border-bottom: 0px;
}

table {
  border-collapse: collapse;
  background-color: white;
}

td {
  min-width: 80px;
  padding: 5px;
  padding-bottom: 10px;
  border: 1px solid black;
}

.jourSemaine {
  text-align: center;
  font: 1.2em Verdana;
}

.chiffreSemaine {
  float:left;
  font: 1em Verdana;
    font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

.event {
  text-align: right;
  width: 100%;
  color: white;
  font: 0.75em Verdana;
  max-width: 100%;
  max-height: 3ex;
  overflow: hidden;
  margin: 1px;
  padding: 3px;
  border-radius: 3px;
}

.pas_important {
  background-color: rgba(0, 150, 0, 0.60);
}

.important {
  background-color: rgba(150, 0, 0, 0.60);
}

.haut_calendrier {
  width: 100%;
  height: 250px;
  background-image: url("../images/General/fond_cliff.jpg");
  background-size: cover;
}

.titre_calendrier {
  margin-left: 10%;
  position: relative;
  top: 100%;
  width: 80%;
  border: 1px solid grey;
  border-top: 0px;
  height:45px;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 0px 0px 15px 15px;
}

.titre_calendrier h1 {
  margin: 5px;
  padding-left: 10px;
  font-family: Verdana;
  text-decoration: none;
  font-size: 1.8em;
  color: #08298A;
}


/* Forum */
.bodyforum {
	font-family: Verdana, sans-serif;
	background-color: #e6e6e6;
}


.sectionForum {
	width: 80%;
	border: 1px solid white;
	border-radius: 10px;
	background-color: #FFFFFF;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
  margin: 50px 10%;
}

.premierHR {
	margin-top: 0em;
    margin-bottom: 0em;
   	border: 0;
   	height: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
}


/*input {
	border: none;
	width: 150px;
}*/

.forums {
	display:inline-block;
	width: 58%;
}

.barre-recherche {
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 10px;
	width: 20%;
	min-width: 200px;
}

.container-barre {
	display: inline-block;
	text-align: center;
	width: 30%;
}


.fleche, .lien-forum {
	display: inline-block;
}

.fleche {
	margin-left: 30px;
	margin-right: 30px;
}


.fa-arrow-circle-o-right {
	color: #2cb6e7;
}


.fa-search {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

a{
  text-decoration: none;
}

/* GLOBAL */
.encadrementTitre{
  background-color:rgb(194, 246, 229);
}

.blackborder{
  border:1px black solid;
}

.radius{
  border-radius:10px;
}

.light-background{
  background-color:rgb(205, 251, 250);
}

.light-blue-background{
  background-color:rgb(205, 251, 250);
}

.centre{
  text-align:center;
}

.memeligne{
  display: block;
  vertical-align:middle;
}

.usualbackground{
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Police1{
  color:red;
  font-size:60px;
}

.Police2{
  color:green;
  font-size:30px;
}

.container {
  margin:10px auto;
  width:1097px;
  padding:5px 15px;
}

.block80{
  width:80%;
  margin:0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
