/*Calendrier*/
.side{
  width:25%;
  margin: 100px auto;
  display:inline-block;
  vertical-align:top;
}

.cal{
  width:65%;
  margin:100px auto;
  display:inline-block;
}

tbody tr{
  width: 100%;
}

.cell{
  border: 1px black solid;
  width: 10%;
  height: 100px;
}

#next {
  float: right;
}

#previous {
  float: left;
}

.cal .nav {
  margin: 20px 0;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-family: inherit;
}

.nav:hover {
  border-radius: 5px;
  color: red;
}

.cal > h2 {
  display: inline-block;
  margin: 20px auto;
  color: red;
  font-weight: 200;
  font-size: 2.5em;
}

.selected {
  display: inline-block;
}

table {
  border-collapse: collapse;
  margin-bottom: 50px;
  width: 100%;
  table-layout: fixed;
}

table.selected {
  display: block;
}

table tbody td {
  width: 14.28%;
  height: 100px;
  border: solid 1px grey;
  padding: 5px;
  vertical-align: top;
  position: relative;
}

table thead td {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

table .disabled {
  background: lightgrey;
}

table td h2 {
  text-align: left;
  font-weight: lighter;
  font-size: 40px;
}

.cal .event {
  text-align: left;
  display: block;
  margin: 5px 2px;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.sidebar > label {
  padding: 5px;
  padding-left: 8px;
  color: white;
  display: block;
  margin: 5px;
  border-radius: 5px;
}

.sidebar input {
  vertical-align: middle;
}

.red {
  background: red;
}

.green {
  background: green;
}

td span {
  cursor: pointer;
}

span.event.hidden {
  display: none;
}

.today {
  color: red;
  font-weight: 400;
}

.event-list {
  height: 70px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}
.event-list:hover {
  overflow-y: auto;
}

.event-list::-webkit-scrollbar {
  width: 1px;
  position: absolute;
}

.event-list::-webkit-scrollbar-thumb {
  background: lightgrey;
}

td .modal {
  position: absolute;
  width: 270px;
  background: white;
  color: black;
  min-height: 300px;
  box-shadow: 0 3px 30px grey;
  display: none;
  text-align: left;
  z-index: 10;
  top: 100%;
  left: 0;
  border-radius: 3px;
}

.modal .head {
  padding: 10px;
  border-radius: 3px 3px 0 0;
}

.modal h2 {
  font-size: 2em;
  color: white;
  font-weight: 200;
}

.modal .subtitle {
  font-size: .8em;
  color: white;
  font-weight: bold;
}

.modal p {
  padding: 0 10px;
  color: grey;
  margin-bottom: 20px;
  margin-top: 10px;
}

td div.modal.show {
  display: block;
}

button {
  background: none;
  border: none;
}

.modal button {
  margin: .5em;
  color: white;
  float: right;
  font-size: 1em;
  cursor: pointer;
}
.modal button:hover {
  color: white;
}
