/*GROSSES SECTIONS*/
*{
  margin:0;
  padding: 0;
  border: 0;
  box-sizing:border-box;
}

body{
  min-height: 666px;
}

header,
section,
aside,
footer {
  margin: 0 0 24px 0;
}

section {
  float: left;
  width: 65%;
  /*margin-left:30px;*/
}

aside {
  float: right;
  width: 35%;
  /*margin-right:20px;*/
}

footer{
  background-color:#938a8a;
  width:100%;
  bottom: 0;
  height: 40px;
  clear: both;
  margin-bottom: 0;
}

#hautdepage{
  background-color:rgb(182, 232, 238);
}

#content{
  position: relative;
}



 /*MENU*/
.menu li{
  display:inline-block;
  font-size: 15px;
  margin:5px;
  color:red;
  font-family: Arial;
  font-size:20px;
}

.menu {
  display:inline-block;
  width: 70%;
  font-size: 0;
  text-align: justify;
}

.menu:after{
  content:"";
  width: 100%;
  display:inline-block;
  }

/*Contenu photo accueil*/
.div1{
  position:relative;
  width:50%;
  height:300px;
  display: inline-block;
  background-color:black;
  opacity:1;
  overflow: hidden;
}

.img1{
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:1;
  transition:all 0.8s ease;
}

.img2{
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:1;
}

.div1 span{
  width: 100%;
  height: 100%;
  position:absolute;
  padding: 135px 0;
  text-align: center;
  z-index:2;
  overflow: hidden;
}

.div1 span:hover + .img1{
  transform:scale(1.5);
  filter:brightness(0.5);

}

/*Section aside*/
.div2{
  height:600px;
  filter: opacity(80%);
  position:relative;
}

.div2bis{
  width:100%;
  position:absolute;
  height:600px;
  filter: opacity(80%);
  display:inline-block;
  z-index:2;
}

.Haut1{
  margin:5% 10% 2% 10%;  display:inline-block;
  background-color: red;
  width: 80%;
  height: 70%;
  z-index: 2;
}

.Bas1{
  margin:2% 10% 5%;
  display:inline-block;
  background-color: black;
  width: 80%;
  height: 20%;
  z-index: 2;
}

.ligne1 , .ligne2{
  height: 300px;
}


  /*Fonctionnel*/
.centre{
  text-align:center;
}

.memeligne{
  display: block;
  vertical-align:middle;
}

.usualbackground{
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Police1{
  color:red;
  font-size:30px;
}

/* Inscription */
fieldset {
  border: 1px black solid;
  margin: 0.5em;
  padding: 0.5em;
  width:90%;
  margin:0 auto;
}

fieldset input{
  border: 1px black solid;
  margin: 0.5em;
  padding: 0.5em;
}
